<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>90</real>
	<key>angleVariance</key>
	<real>90</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>4</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.2000000029802322</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>0.9614698886871338</real>
	<key>finishColorRed</key>
	<real>0.991815984249115</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.2000000029802322</real>
	<key>finishColorVarianceBlue</key>
	<real>0.1000000014901161</real>
	<key>finishColorVarianceGreen</key>
	<real>0.1000000014901161</real>
	<key>finishColorVarianceRed</key>
	<real>0.1000000014901161</real>
	<key>finishParticleSize</key>
	<real>10</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>0</real>
	<key>maxParticles</key>
	<integer>500</integer>
	<key>particleLifespan</key>
	<real>2</real>
	<key>particleLifespanVariance</key>
	<real>0</real>
	<key>radialAccelVariance</key>
	<string>0.000000</string>
	<key>radialAcceleration</key>
	<string>-1000.000000</string>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>0</real>
	<key>sourcePositionVariancey</key>
	<real>0</real>
	<key>sourcePositionx</key>
	<real>520.390625</real>
	<key>sourcePositiony</key>
	<real>287.734375</real>
	<key>speed</key>
	<real>410</real>
	<key>speedVariance</key>
	<real>0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.9014598727226257</real>
	<key>startColorGreen</key>
	<real>0.8589842319488525</real>
	<key>startColorRed</key>
	<real>0</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0.2655870616436005</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>50</real>
	<key>startParticleSizeVariance</key>
	<real>4</real>
	<key>tangentialAccelVariance</key>
	<string>0.000000</string>
	<key>tangentialAcceleration</key>
	<string>0.000000</string>
	<key>textureFileName</key>
	<string>particle_twinklestar.png</string>
</dict>
</plist>
