<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>90</real>
	<key>angleVariance</key>
	<real>10</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<integer>1</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.9406958818435669</real>
	<key>finishColorGreen</key>
	<real>0.9954751133918762</real>
	<key>finishColorRed</key>
	<real>0.986210823059082</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>20</real>
	<key>finishParticleSizeVariance</key>
	<real>10</real>
	<key>maxParticles</key>
	<integer>300</integer>
	<key>maxRadius</key>
	<real>70</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>50</real>
	<key>particleLifespan</key>
	<real>3</real>
	<key>particleLifespanVariance</key>
	<real>0.25</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>360</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>40</real>
	<key>sourcePositionVariancey</key>
	<real>20</real>
	<key>sourcePositionx</key>
	<real>534.6539916992188</real>
	<key>sourcePositiony</key>
	<real>330.1004333496094</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.07199554145336151</real>
	<key>startColorGreen</key>
	<real>0.6923172473907471</real>
	<key>startColorRed</key>
	<real>0.9954751133918762</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>10</real>
	<key>startParticleSizeVariance</key>
	<real>10</real>
	<key>textureFileName</key>
	<string>particle_base.png</string>
</dict>
</plist>
