<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{40,40}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>water002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{70,70}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>water003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{100,100}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water.png</string>
            <key>size</key>
            <string>{116,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1baacc002547b2412f54b30b3b0a8c0b$</string>
            <key>textureFileName</key>
            <string>water.png</string>
        </dict>
    </dict>
</plist>
