<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,86},{16,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gold02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{32,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gold03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gold04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{32,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gold05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,44},{20,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{58,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6ed4a43295cdad56bb98cebd6926a6:31d40077dbf9241fbc325840a70cbd0a:678d5fa021a8be934d7e4cdec668e391$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
