<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head001.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{51,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{51,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head002.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{53,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{53,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head003.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{53,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{53,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head004.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{53,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{53,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head005.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{53,27}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{53,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head006.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{105,27}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{105,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head007.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{103,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{103,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{105,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{105,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head009.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{103,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{103,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head010.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{103,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{103,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head011.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{105,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{105,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
            <key>head012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{129,27}}</string>
                <key>sourceSize</key>
                <string>{155,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.png</string>
            <key>size</key>
            <string>{1071,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b80c558374507dd7c3d0b838006e407$</string>
            <key>textureFileName</key>
            <string>head.png</string>
        </dict>
    </dict>
</plist>
