<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fish019_swim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1503,921},{141,84}}</string>
			<key>offset</key>
			<string>{10,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{141,84}}</string>
			<key>sourceSize</key>
			<string>{165,96}</string>
		</dict>
		<key>fish019_swim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,851},{149,76}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{149,76}}</string>
			<key>sourceSize</key>
			<string>{165,96}</string>
		</dict>
		<key>fish019_swim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205,930},{147,88}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{147,88}}</string>
			<key>sourceSize</key>
			<string>{165,96}</string>
		</dict>
		<key>fish019_swim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1465,823},{147,96}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{147,96}}</string>
			<key>sourceSize</key>
			<string>{165,96}</string>
		</dict>
		<key>fish019_swim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,929},{147,84}}</string>
			<key>offset</key>
			<string>{5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{147,84}}</string>
			<key>sourceSize</key>
			<string>{165,96}</string>
		</dict>
		<key>fish019_swim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536,274},{143,78}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,10},{143,78}}</string>
			<key>sourceSize</key>
			<string>{165,96}</string>
		</dict>
		<key>fish028_catch_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,574},{275,118}}</string>
			<key>offset</key>
			<string>{-9,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{275,118}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_catch_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1310,291},{281,110}}</string>
			<key>offset</key>
			<string>{-7,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{281,110}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_catch_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,764},{241,100}}</string>
			<key>offset</key>
			<string>{-7,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,19},{241,100}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_catch_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,750},{271,106}}</string>
			<key>offset</key>
			<string>{-12,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,18},{271,106}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_swim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1422,283},{273,112}}</string>
			<key>offset</key>
			<string>{-12,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{273,112}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_swim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,732},{289,106}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{289,106}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_swim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1171,2},{297,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,17},{297,96}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_swim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,2},{287,98}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,19},{287,98}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_swim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1369,2},{279,104}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,13},{279,104}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish028_swim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1434,558},{263,120}}</string>
			<key>offset</key>
			<string>{-15,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{263,120}}</string>
			<key>sourceSize</key>
			<string>{297,124}</string>
		</dict>
		<key>fish030_catch_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,2},{388,131}}</string>
			<key>offset</key>
			<string>{19,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,52},{388,131}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,376},{372,79}}</string>
			<key>offset</key>
			<string>{12,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,103},{372,79}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1072,2},{336,97}}</string>
			<key>offset</key>
			<string>{1,-34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,91},{336,97}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1092,712},{304,111}}</string>
			<key>offset</key>
			<string>{-8,-33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,83},{304,111}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1475,2},{270,109}}</string>
			<key>offset</key>
			<string>{-19,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,83},{270,109}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205,644},{284,107}}</string>
			<key>offset</key>
			<string>{-19,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,74},{284,107}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1161,340},{302,147}}</string>
			<key>offset</key>
			<string>{-15,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,41},{302,147}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,370},{360,151}}</string>
			<key>offset</key>
			<string>{6,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,37},{360,151}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_catch_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,394},{388,131}}</string>
			<key>offset</key>
			<string>{19,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,52},{388,131}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,392},{386,153}}</string>
			<key>offset</key>
			<string>{-19,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,36},{386,153}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,420},{394,141}}</string>
			<key>offset</key>
			<string>{-16,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,49},{394,141}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,2},{390,125}}</string>
			<key>offset</key>
			<string>{-17,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,66},{390,125}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,396},{392,111}}</string>
			<key>offset</key>
			<string>{-17,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,82},{392,111}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,420},{396,97}}</string>
			<key>offset</key>
			<string>{-15,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,106},{396,97}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,2},{372,81}}</string>
			<key>offset</key>
			<string>{-27,-56}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,121},{372,81}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,2},{358,95}}</string>
			<key>offset</key>
			<string>{-34,-54}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,112},{358,95}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,362},{348,109}}</string>
			<key>offset</key>
			<string>{-39,-50}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,101},{348,109}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,2},{366,117}}</string>
			<key>offset</key>
			<string>{-30,-47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,94},{366,117}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{392,129}}</string>
			<key>offset</key>
			<string>{-17,-40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,81},{392,129}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{416,171}}</string>
			<key>offset</key>
			<string>{-5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,39},{416,171}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,784},{384,211}}</string>
			<key>offset</key>
			<string>{-20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{384,211}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,2},{384,205}}</string>
			<key>offset</key>
			<string>{-20,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{384,205}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,818},{384,187}}</string>
			<key>offset</key>
			<string>{-18,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{384,187}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
		<key>fish030_swim_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,388},{374,169}}</string>
			<key>offset</key>
			<string>{-24,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,23},{374,169}}</string>
			<key>sourceSize</key>
			<string>{426,211}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fish6.png</string>
		<key>size</key>
		<string>{1646,1023}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0f4e22e7e1588446b558d069ac1bfba8$</string>
		<key>textureFileName</key>
		<string>fish6.png</string>
	</dict>
</dict>
</plist>
