<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dict_GameNotice</key>
	<dict>
		<key>game_noticeWord1</key>
		<string>分值高的炮，命中率更高！</string>
		<key>game_noticeWord2</key>
		<string>分值越高的炮，越容易捕获大鱼！</string>
		<key>game_noticeWord3</key>
		<string>按住屏幕可以连续发射炮弹！</string>
	</dict>
	<key>Dict_OtherInfo</key>
	<dict>
		<key>register_pleaseRegisterAgain</key>
		<string>请重新注册!</string>
		<key>register_unknownError</key>
		<string>未知错误!</string>
		<key>register_iphoneillegality</key>
		<string>手机号不合法!</string>
		<key>register_success</key>
		<string>注册成功!</string>
		<key>register_iphone_unuse</key>
		<string>手机号已经被注册!</string>
		<key>register_nick_unuse</key>
		<string>昵称已经被注册!</string>
		<key>register_iphone_nil</key>
		<string>手机号不能为空！</string>
		<key>register_nick_nil</key>
		<string>昵称不能为空！</string>
		<key>register_instruction</key>
		<string>注:手机号用于领取活动奖励,请正确填写</string>
		<key>cannotCharge</key>
		<string>无法购买，请检查您的设置</string>
		<key>close</key>
		<string>关闭</string>
		<key>networkUnavailable</key>
		<string>当前网络不可用</string>
		<key>noticeTime1</key>
		<string>活动有效期：</string>
		<key>noticeTime2</key>
		<string>公告有效期：</string>
		<key>noticeTime3</key>
		<string>至</string>
		<key>ok</key>
		<string>确定</string>
		<key>send</key>
		<string>发送</string>
		<key>sorry</key>
		<string>对不起</string>
		<key>tip</key>
		<string>提示</string>
		<key>48hourPushTip</key>
		<string>好久没来了，快回来看看吧！</string>
		<key>addCoinFullPushTip</key>
		<string>小企鹅偷偷的把金币给您补满了，快来看看吧！</string>
		<key>activecode</key>
		<string>活动码</string>
		<key>active_get_tip_coin</key>
		<string>活动码发送成功，获得%d金币！</string>
		<key>active_get_tip_diamond</key>
		<string>活动码发送成功，获得%d钻石！</string>
		<key>active_get_tip_level</key>
		<string>活动码发送成功，等级提升至%d级！</string>
		<key>active_get_tip_binfengift</key>
		<string>活动码发送成功，获得缤纷大礼包！</string>
		<key>active_get_tip_chaozhigift</key>
		<string>活动码发送成功，获得超值大礼包！</string>
	</dict>
	<key>Dict_Shop</key>
	<dict>
		<key>shoptip_coin</key>
		<string>恭喜获得%d金币!</string>
		<key>shoptip_diamond</key>
		<string>恭喜获得%d钻石!</string>
		<key>shoptip_binfenGift</key>
		<string>恭喜获得缤纷大礼包!</string>
		<key>shoptip_chaozhiGift</key>
		<string>恭喜获得超值大礼包!</string>
	</dict>
	<key>Dict_Task</key>
	<dict>
		<key>task_desc_1</key>
		<string>在5分钟之内捕获5条乌贼</string>
		<key>task_desc_10</key>
		<string>在8分钟之内捕获5条熊猫仙</string>
		<key>task_desc_100</key>
		<string>在8分钟之内捕获3条魔鬼鱼</string>
		<key>task_desc_101</key>
		<string>在8分钟之内捕获3条金龙鱼</string>
		<key>task_desc_102</key>
		<string>在10分钟之内捕获4条剑鱼</string>
		<key>task_desc_103</key>
		<string>在9分钟之内捕获2条鲨鱼</string>
		<key>task_desc_104</key>
		<string>在15分钟之内捕获40条河豚</string>
		<key>task_desc_105</key>
		<string>在15分钟之内捕获5条海豚</string>
		<key>task_desc_106</key>
		<string>在10分钟之内捕获20条蓝吊</string>
		<key>task_desc_107</key>
		<string>在3分钟之内按住屏幕连续发射鱼炮10秒</string>
		<key>task_desc_108</key>
		<string>在3分钟之内按住屏幕连续发射鱼炮15秒</string>
		<key>task_desc_109</key>
		<string>在5分钟之内按住屏幕连续发射鱼炮20秒</string>
		<key>task_desc_11</key>
		<string>在10分钟之内捕获1条鲨鱼</string>
		<key>task_desc_110</key>
		<string>在5分钟之内按住屏幕连续发射鱼炮30秒</string>
		<key>task_desc_111</key>
		<string>在2分钟之内使用道具海星</string>
		<key>task_desc_112</key>
		<string>在2分钟之内使用道具海马</string>
		<key>task_desc_113</key>
		<string>在2分钟之内使用道具海螺</string>
		<key>task_desc_114</key>
		<string>在2分钟之内喂养宠物1次</string>
		<key>task_desc_115</key>
		<string>在2分钟之内喂养宠物2次</string>
		<key>task_desc_116</key>
		<string>在5分钟之内转盘抽奖1次</string>
		<key>task_desc_117</key>
		<string>在5分钟之内转盘抽奖2次</string>
		<key>task_desc_12</key>
		<string>在10分钟之内捕获1条美人鱼</string>
		<key>task_desc_13</key>
		<string>在10分钟之内捕获2条蝠鲼</string>
		<key>task_desc_14</key>
		<string>在10分钟之内捕获2条金龙鱼</string>
		<key>task_desc_15</key>
		<string>在10分钟之内捕获5条河豚</string>
		<key>task_desc_16</key>
		<string>在10分钟之内捕获1条剑鱼</string>
		<key>task_desc_17</key>
		<string>在10分钟之内捕获1条海豚</string>
		<key>task_desc_18</key>
		<string>在10分钟之内捕获10条蓝吊</string>
		<key>task_desc_19</key>
		<string>在10分钟之内捕获10条七星刀</string>
		<key>task_desc_2</key>
		<string>在8分钟之内捕获60条小斑马鱼</string>
		<key>task_desc_20</key>
		<string>在10分钟之内捕获10条蓝环神仙</string>
		<key>task_desc_21</key>
		<string>在10分钟之内捕获10条炮弹鱼</string>
		<key>task_desc_22</key>
		<string>在8分钟之内捕获4只水母</string>
		<key>task_desc_23</key>
		<string>在8分钟之内捕获4只狮子鱼</string>
		<key>task_desc_24</key>
		<string>在8分钟之内捕获4只猪鼻龟</string>
		<key>task_desc_25</key>
		<string>在10分钟之内捕获10条河豚</string>
		<key>task_desc_26</key>
		<string>在8分钟之内捕获10条石斑鱼</string>
		<key>task_desc_27</key>
		<string>在8分钟之内捕获10条豹鲂鮄</string>
		<key>task_desc_28</key>
		<string>在8分钟之内捕获10条狐狸鱼</string>
		<key>task_desc_29</key>
		<string>在8分钟之内捕获10条条石鲷</string>
		<key>task_desc_3</key>
		<string>在8分钟之内捕获60条雷达鱼</string>
		<key>task_desc_30</key>
		<string>在8分钟之内捕获2条海豚</string>
		<key>task_desc_31</key>
		<string>在8分钟之内捕获2条剑鱼</string>
		<key>task_desc_32</key>
		<string>在8分钟之内捕获5条鮟鱇鱼</string>
		<key>task_desc_33</key>
		<string>在5分钟之内捕获4只海龟</string>
		<key>task_desc_34</key>
		<string>在10分钟之内捕获120条小斑马鱼</string>
		<key>task_desc_35</key>
		<string>在10分钟之内捕获120条雷达鱼</string>
		<key>task_desc_36</key>
		<string>在8分钟内捕获5条乌贼</string>
		<key>task_desc_37</key>
		<string>在8分钟内捕获5条墨西哥钝口螈</string>
		<key>task_desc_38</key>
		<string>在8分钟内捕获5条河豚</string>
		<key>task_desc_39</key>
		<string>在10分钟之内捕获80条红线金鱼</string>
		<key>task_desc_4</key>
		<string>在8分钟之内捕获2条的乌贼</string>
		<key>task_desc_40</key>
		<string>在10分钟之内捕获80条孔雀鱼</string>
		<key>task_desc_41</key>
		<string>在15分钟之内捕获120条红线金鱼</string>
		<key>task_desc_42</key>
		<string>在8分钟之内捕获12条小丑鱼</string>
		<key>task_desc_43</key>
		<string>在8分钟之内捕获12条熊猫仙</string>
		<key>task_desc_44</key>
		<string>在8分钟之内捕获12条南极冰鱼</string>
		<key>task_desc_45</key>
		<string>在10分钟之内捕获2条鲨鱼</string>
		<key>task_desc_46</key>
		<string>在10分钟之内捕获2条美人鱼</string>
		<key>task_desc_47</key>
		<string>在8分钟之内捕获2条剑鱼</string>
		<key>task_desc_48</key>
		<string>在10分钟之内捕获4条魔鬼鱼</string>
		<key>task_desc_49</key>
		<string>在10分钟之内捕获4条金龙鱼</string>
		<key>task_desc_5</key>
		<string>在8分钟之内捕获2条的墨西哥钝口螈</string>
		<key>task_desc_50</key>
		<string>在15分钟之内捕获30条河豚</string>
		<key>task_desc_51</key>
		<string>在15分钟之内捕获30条乌贼</string>
		<key>task_desc_52</key>
		<string>在15分钟之内捕获30条墨西哥钝口螈</string>
		<key>task_desc_53</key>
		<string>在8分钟内捕获6条鮟鱇鱼</string>
		<key>task_desc_54</key>
		<string>在10分钟之内捕获3条海豚</string>
		<key>task_desc_55</key>
		<string>在15分钟之内捕获12只海龟</string>
		<key>task_desc_56</key>
		<string>在15分钟之内捕获2条美人鱼</string>
		<key>task_desc_57</key>
		<string>在8分钟内捕获15条炮弹鱼</string>
		<key>task_desc_58</key>
		<string>在8分钟内捕获15条蓝吊</string>
		<key>task_desc_59</key>
		<string>在8分钟内捕获15条蓝环神仙</string>
		<key>task_desc_6</key>
		<string>在8分钟之内捕获40条孔雀鱼</string>
		<key>task_desc_60</key>
		<string>在8分钟内捕获15条七星刀</string>
		<key>task_desc_61</key>
		<string>在5分钟之内捕获8只水母</string>
		<key>task_desc_62</key>
		<string>在5分钟之内捕获8只狮子鱼</string>
		<key>task_desc_63</key>
		<string>在5分钟之内捕获8只猪鼻龟</string>
		<key>task_desc_64</key>
		<string>在5分钟之内捕获15条南极冰鱼</string>
		<key>task_desc_65</key>
		<string>在5分钟之内捕获15条小丑鱼</string>
		<key>task_desc_66</key>
		<string>在5分钟之内捕获15条熊猫仙</string>
		<key>task_desc_67</key>
		<string>在10分钟之内捕获10条鮟鱇鱼</string>
		<key>task_desc_68</key>
		<string>在5分钟之内捕获8只海龟</string>
		<key>task_desc_69</key>
		<string>在9分钟之内捕获2条鲨鱼</string>
		<key>task_desc_7</key>
		<string>在8分钟之内捕获50条红线金鱼</string>
		<key>task_desc_70</key>
		<string>在10分钟内捕获150条红线金鱼</string>
		<key>task_desc_71</key>
		<string>在10分钟内捕获150条孔雀鱼</string>
		<key>task_desc_72</key>
		<string>在15分钟内捕获2条鲸鱼</string>
		<key>task_desc_73</key>
		<string>在15分钟之内捕获2条鲸鱼</string>
		<key>task_desc_74</key>
		<string>在10分钟内捕获3条剑鱼</string>
		<key>task_desc_75</key>
		<string>在10分钟内捕获6条魔鬼鱼</string>
		<key>task_desc_76</key>
		<string>在10分钟内捕获6条金龙鱼</string>
		<key>task_desc_77</key>
		<string>在8分钟内捕获10条鮟鱇鱼</string>
		<key>task_desc_78</key>
		<string>在15分钟之内捕获24只海龟</string>
		<key>task_desc_79</key>
		<string>在10分钟之内捕获2条美人鱼</string>
		<key>task_desc_8</key>
		<string>在8分钟之内捕获5条小丑鱼</string>
		<key>task_desc_80</key>
		<string>在10分钟之内捕获20条蓝吊</string>
		<key>task_desc_81</key>
		<string>在10分钟之内捕获20条蓝环神仙</string>
		<key>task_desc_82</key>
		<string>在10分钟之内捕获20条七星刀</string>
		<key>task_desc_83</key>
		<string>在10分钟之内捕获20条炮弹鱼</string>
		<key>task_desc_84</key>
		<string>在5分钟之内捕获12只水母</string>
		<key>task_desc_85</key>
		<string>在10分钟之内捕获20条狮子鱼</string>
		<key>task_desc_86</key>
		<string>在10分钟之内捕获20条猪鼻龟</string>
		<key>task_desc_87</key>
		<string>在15分钟之内捕获18条鮟鱇鱼</string>
		<key>task_desc_88</key>
		<string>在8分钟之内捕获12只海龟</string>
		<key>task_desc_89</key>
		<string>在8分钟之内捕获2条鲨鱼</string>
		<key>task_desc_9</key>
		<string>在8分钟之内捕获5条南极冰鱼</string>
		<key>task_desc_90</key>
		<string>在15分钟之内捕获250条红线金鱼</string>
		<key>task_desc_91</key>
		<string>在15分钟之内捕获250条孔雀鱼</string>
		<key>task_desc_92</key>
		<string>在15分钟之内捕获80条南极冰鱼</string>
		<key>task_desc_93</key>
		<string>在8分钟之内捕获20条小丑鱼</string>
		<key>task_desc_94</key>
		<string>在8分钟之内捕获20条熊猫仙</string>
		<key>task_desc_95</key>
		<string>在8分钟之内捕获12条乌贼</string>
		<key>task_desc_96</key>
		<string>在8分钟之内捕获12条河豚</string>
		<key>task_desc_97</key>
		<string>在8分钟之内捕获12条墨西哥钝口螈</string>
		<key>task_desc_98</key>
		<string>在10分钟之内捕获2条美人鱼</string>
		<key>task_desc_99</key>
		<string>在10分钟内捕获2条美人鱼</string>
	</dict>
	<key>Dict_TaskRookie</key>
	<dict>
		<key>taskRookie_desc_1</key>
		<string>在2小时之内升到3级</string>
	</dict>
	<key>Dict_WarnWord</key>
	<dict>
		<key>warn_useBait</key>
		<string>20秒内吸引大批鱼</string>
		<key>warn_useClock</key>
		<string>10秒内鱼停止游动</string>
		<key>warn_cannonuseProp</key>
		<string>不能同时使用道具</string>
		<key>warn_cannonuseStar</key>
		<string>倍率场景不能使用海星</string>
		<key>warn_useConch</key>
		<string>5秒内发炮不消耗金币</string>
		<key>warn_useSeahorse</key>
		<string>60秒内捕鱼获得金币+20%</string>
		<key>warn_useStar</key>
		<string>60秒内命中率提高50%</string>
	</dict>
	<key>Dict_Tip</key>
	<dict>
		<key>tip_lackprop_star</key>
		<string>海星道具不足啦！是否立即购买？</string>
		<key>tip_lackprop_seahorse</key>
		<string>海马道具不足啦！是否立即购买？</string>
		<key>tip_lackprop_conch</key>
		<string>海螺道具不足啦！是否立即购买？</string>
		<key>tip_lackprop_clock</key>
		<string>时间冻结道具不足啦！是否立即购买？</string>
		<key>tip_lackprop_bait</key>
		<string>鱼饵道具不足啦！是否立即购买？</string>
		<key>tip_lackcoin_buy</key>
		<string>金币不足啦！是否8元立即购买18000金币？</string>
		<key>tip_lackdiamond_buy</key>
		<string>钻石不足啦！是否5元立即购买50钻石？</string>
		<key>tip_guide_lunpan</key>
		<string>每日免费大乐透</string>
		<key>tip_guide_collect</key>
		<string>可以收集兑换奖励了</string>
		<key>tip_guide_task</key>
		<string>点击可查看更多任务说明</string>
		<key>tip_guide_acheve01</key>
		<string>可以免费兑换宠物企鹅了</string>
		<key>tip_guide_acheve02</key>
		<string>可以免费兑换宠物小猫了</string>
		<key>tip_guide_onlineaward01</key>
		<string>点击领取在线奖励</string>
		<key>tip_guide_onlineaward02</key>
		<string>联网可免费领取金币</string>
		<key>tip_guide_magicalbar01</key>
		<string>点击魔法棒可更换鱼种和渔场</string>
		<key>tip_guide_magicalbar02</key>
		<string>夏威夷双倍渔场解锁</string>
	</dict>
	<key>Dict_Teach</key>
	<dict>
		<key>teachtip_fire</key>
		<string>瞄准鱼点击屏幕！</string>
		<key>teachtip_changeCannon</key>
		<string>有鱼漏网啦！切换更高级的鱼炮试试看！</string>
		<key>teachtip_continueFire</key>
		<string>按住屏幕滑动，感受连发的快感吧！</string>
		<key>teachtip_moreHelp</key>
		<string>想获得更多游戏帮助，请点击暂停，查看【教学帮助】</string>
	</dict>
</dict>
</plist>
