<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cannon_03bomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{110,106}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,40},{110,106}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{172,180}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{172,180}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,180}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{176,180}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,188}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{172,188}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{164,182}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,182}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{166,184}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,184}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>Cannon_03bomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{160,180}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CannonEffectFrame.png</string>
            <key>size</key>
            <string>{1356,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174cd98a5defce85626cdb201c1e86a0$</string>
            <key>textureFileName</key>
            <string>CannonEffectFrame.png</string>
        </dict>
    </dict>
</plist>
