<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Laser_begin001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>Laser_begin002.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,924},{96,109}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{96,109}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>Laser_begin003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,907},{96,115}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,115}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>Laser_launch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,751}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,751}}</string>
                <key>sourceSize</key>
                <string>{78,751}</string>
            </dict>
            <key>Laser_launch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,751}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,751}}</string>
                <key>sourceSize</key>
                <string>{78,751}</string>
            </dict>
            <key>Laser_prepare001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,901},{82,137}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,137}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>Laser_prepare002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,629},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>Laser_prepare003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,770},{86,135}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>Lighting_prepare001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,770},{92,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,118}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>Lighting_prepare002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,629},{90,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>Lighting_prepare003.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,783},{92,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,116}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>Lightning_catch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,770},{92,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{92,118}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>Lightning_catch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,783},{116,116}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{116,116}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>Lightning_catch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>Lightning_catch004.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,629},{134,138}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>Lightning_launch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,332},{137,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,320}}</string>
                <key>sourceSize</key>
                <string>{137,320}</string>
            </dict>
            <key>Lightning_launch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,471},{127,310}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,310}}</string>
                <key>sourceSize</key>
                <string>{137,320}</string>
            </dict>
            <key>Lightning_launch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,318},{133,320}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,320}}</string>
                <key>sourceSize</key>
                <string>{137,320}</string>
            </dict>
            <key>Torpedo_bomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,453},{232,174}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,109},{232,174}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,751},{260,222}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,77},{260,222}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,386},{332,322}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{332,322}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{326,314}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{326,314}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{382,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,382}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{326,328}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{326,328}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,710},{332,312}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{332,312}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_bomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,471},{282,278}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{282,278}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>Torpedo_launch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,769},{64,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,153}}</string>
                <key>sourceSize</key>
                <string>{64,153}</string>
            </dict>
            <key>Torpedo_launch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,453},{64,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,153}}</string>
                <key>sourceSize</key>
                <string>{64,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PropEffectFrame.png</string>
            <key>size</key>
            <string>{1225,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f28d7d507497422719d6586d7844d9$</string>
            <key>textureFileName</key>
            <string>PropEffectFrame.png</string>
        </dict>
    </dict>
</plist>
